<!DOCTYPE html>
<html lang="en">
    {{header}}
    <body>
      <div id="wrapper">
        <div id="very_top">&nbsp;</div>
        <div id="header">
            <a class="home" href="/" >
                <img src="/img/logo.png">
            </a>
            {{nav}}
        </div>
            
        <div id="content">
            {{content}}
        </div>   
            
        <div id="footer_wrapper">
            {{footer}}
        </div>
    </div>
  </body>
</html>